.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-routes {
  text-align: center;
}

.deck {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-content: center;
  text-align: center;
  border-color: #47484b;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 1rem;
  width: 40%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.genericButton {
  background-color: rgb(95, 95, 95);
  color: white;
  border-radius: 7px;
  border-style: none;
  padding: 5px;
  margin: 5px;
}

.studyButton {
  background-color: rgb(0, 119, 255);
  color: white;
  border-radius: 7px;
  border-style: none;
  padding: 5px;
  margin: 5px;
}

.deleteButton {
  background-color: rgb(155, 32, 32);
  color: white;
  border-radius: 7px;
  border-style: none;
  padding: 5px;
  margin: 5px;
}

.card {
  max-width: fit-content;
  min-width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-content: center;
  text-align: center;
  border-color: #47484b;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 1rem;
  width: 80%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.deckView {
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.cardView {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.breadcrumb {
  font-size:x-large;
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.breadcrumb-item {
  margin-right: 5px;
  text-align: center;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #3498db;
  text-align: center;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
  text-align: center;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}